# Ejercicio
- Con el dataset del titanic:
    - Haz un EDA de los datos
    - Crea algunas columnas nuevas que creas que pueden ser interesantes
    - Separa los datos en features y target
    - Separa los datos en train y test
    - Haz un preprocesado de los datos
        - Trata los NaNs
        - Trata los outliers
        - Codifica las variables categóricas
        - Realiza transformaciones que consideres interesantes
        - Escala los datos
    - En un bucle `for` entrena todos los modelos de clasificación que conoces y encuentra cuál es el mejor.
    - Valida las métricas del mejor modelo mediante las técnicas **Hold Out**, **K Folds** y **Leave One Out**.

In [2]:
import pandas as pd

df = pd.read_csv("titanic.csv")
df

,PassengerId,Name,Sex,Age,Pclass,Ticket,Fare,Sibsp,Parch,Embarked,Embark_Town,Survived
0,1,"Braund, Mr. Owen Harris",male,22.0,3,A/5 21171,7.2500,1,0,C,Cherbourg,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,PC 17599,71.2833,0,0,S,Southampton,1
2,3,"Heikkinen, Miss. Laina",female,26.0,3,STON/O2. 3101282,7.9250,1,0,S,Southampton,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,113803,53.1000,0,0,S,Southampton,1
4,5,"Allen, Mr. William Henry",male,35.0,3,373450,8.0500,0,0,Q,Queenstown,0
...,...,...,...,...,...,...,...,...,...,...,...,...
885,886,"Rice, Mrs. William (Margaret Norton)",female,39.0,3,382652,29.1250,0,0,S,Southampton,0
886,887,"Montvila, Rev. Juozas",male,27.0,2,211536,13.0000,0,0,S,Southampton,0
887,888,"Graham, Miss. Margaret Edith",female,19.0,1,112053,30.0000,1,2,S,Southampton,1
888,889,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,3,W./C. 6607,23.4500,0,0,C,Cherbourg,0
889,890,"Behr, Mr. Karl Howell",male,26.0,1,111369,30.0000,0,0,Q,Queenstown,1

## EDA y limpieza

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 890 entries, 0 to 889
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  890 non-null    int64
 1   Name         890 non-null    object
 2   Sex          890 non-null    object
 3   Age          713 non-null    float64
 4   Pclass       890 non-null    int64
 5   Ticket       890 non-null    object
 6   Fare         890 non-null    float64
 7   Sibsp        890 non-null    int64
 8   Parch        890 non-null    int64
 9   Embarked     888 non-null    object
 10  Embark_Town  888 non-null    object
 11  Survived     890 non-null    int64
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

TARGET = "Survived"
RANDOM_STATE = 43

plt.figure(figsize=(8,4))

sns.barplot(df[TARGET].value_counts())

plt.show()

In [ ]:
TARGET = "Survived"
RANDOM_STATE = 43

In [ ]:
fig, ax = plt.subplots(1, 2, figsize=(16,4))

sns.barplot(df["Sex"].value_counts(), ax=ax[0])
sns.barplot(df.groupby(["Sex", TARGET]).count(), x="Sex", y = "PassengerId", hue=TARGET, ax=ax[1])

plt.show()

In [ ]:
fig, ax = plt.subplots(1, 2, figsize=(16,4))

sns.barplot(df["Pclass"].value_counts(), ax=ax[0])
sns.barplot(df.groupby(["Pclass", TARGET]).count(), x="Pclass", y = "PassengerId", hue=TARGET, ax=ax[1])

plt.show()

In [ ]:
fig, ax = plt.subplots(1, 2, figsize=(16,4))

sns.barplot(df["Sibsp"].value_counts(), ax=ax[0])
sns.barplot(df.groupby(["Sibsp", TARGET]).count(), x="Sibsp", y = "PassengerId", hue=TARGET, ax=ax[1])

plt.show()

In [ ]:
fig, ax = plt.subplots(1, 2, figsize=(16,4))

sns.barplot(df["Parch"].value_counts(), ax=ax[0])
sns.barplot(df.groupby(["Parch", TARGET]).count(), x="Parch", y = "PassengerId", hue=TARGET, ax=ax[1])

plt.show()

In [ ]:
fig, ax = plt.subplots(1, 2, figsize=(16,4))

sns.barplot(df["Embarked"].value_counts(), ax=ax[0])
sns.barplot(df.groupby(["Embarked", TARGET]).count(), x="Embarked", y = "PassengerId", hue=TARGET, ax=ax[1])

plt.show()

In [ ]:
fig, ax = plt.subplots(1, 2, figsize=(16,4))

sns.barplot(df["Embark_Town"].value_counts(), ax=ax[0])
sns.barplot(df.groupby(["Embark_Town", TARGET]).count(), x="Embark_Town", y = "PassengerId", hue=TARGET, ax=ax[1])

plt.show()

In [ ]:
df = df.drop(["Embark_Town"], axis=1)
df.head(3)

In [11]:
# Un poco de Feature Engeneering

def extraer_apodo(string):
    return string.split(",")[1].split(".")[0]

df["Title"] = df["Name"].apply(extraer_apodo)

In [ ]:
fig, ax = plt.subplots(1, 2, figsize=(16,4))

sns.barplot(df["Title"].value_counts(), ax=ax[0])
sns.barplot(df.groupby(["Title", TARGET]).count(), x="Title", y = "PassengerId", hue=TARGET, ax=ax[1])

ax[0].set_xticklabels(rotation=45, ha="right", labels=ax[0].get_xticklabels())
ax[1].set_xticklabels(rotation=45, ha="right", labels=ax[1].get_xticklabels())

plt.show()

In [ ]:
df = df.drop(["Name", "PassengerId", "Ticket"], axis=1)
df.head(3)

In [ ]:
fig, ax = plt.subplots(1, 2, figsize=(16,4))

sns.histplot(df["Age"], ax=ax[0])
sns.boxplot(df, x=TARGET, y = "Age", hue=TARGET, ax=ax[1])

plt.show()

In [ ]:
fig, ax = plt.subplots(1, 2, figsize=(16,4))

sns.histplot(df["Fare"], ax=ax[0])
sns.boxplot(df, x=TARGET, y = "Fare", hue=TARGET, ax=ax[1])

plt.show()

In [ ]:
import numpy as np

fig, ax = plt.subplots(1, 2, figsize=(16,4))

df_log = df.copy()
df_log["Fare"] = df_log["Fare"].apply(np.log)

sns.histplot(df_log["Fare"], ax=ax[0])
sns.boxplot(df_log, x=TARGET, y = "Fare", hue=TARGET, ax=ax[1])

plt.show()

In [17]:
df["Fare"] = df["Fare"].apply(lambda x: np.log(x) if x != 0 else np.log(x+1e-8))

In [ ]:
# DF limpio

df.head()

## Preprocesamiento

In [ ]:
from sklearn.model_selection import train_test_split

X = df.drop(TARGET, axis=1)
y = df[TARGET]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state=RANDOM_STATE)
X_train.shape, y_train.shape

In [20]:
encodings_sex = {"male" : 0, "female" : 1}
encodings_embarked = {"S" : 0, "Q" : 1, "C" : 2}

X_train["Sex"] = X_train["Sex"].map(encodings_sex)
X_test["Sex"] = X_test["Sex"].map(encodings_sex)

X_train["Embarked"] = X_train["Embarked"].map(encodings_embarked)
X_test["Embarked"] = X_test["Embarked"].map(encodings_embarked)

In [21]:
encodings_title = X_train["Title"].value_counts().to_dict()

X_train["Title"] = X_train["Title"].map(encodings_title)
X_test["Title"] = X_test["Title"].map(encodings_title)

In [ ]:
X_train.head()

In [23]:
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=10)
imputer.fit(X_train)

X_train = imputer.transform(X_train)
X_test = imputer.transform(X_test)

## Modelo

In [24]:
from sklearn.neighbors import KNeighborsClassifier

model = KNeighborsClassifier(n_neighbors=10)

model.fit(X_train, y_train)

yhat = model.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score, confusion_matrix

print(f"Accuracy: {accuracy_score(y_test, yhat)}")
print(f"Confusion Matrix:\n{confusion_matrix(y_test, yhat)}")

## Validación

In [ ]:
from sklearn.model_selection import KFold

kfold = KFold(n_splits=5)

yhat = []

for train_slice, test_slice in kfold.split(df):

    X_train, y_train = X.iloc[train_slice], y.iloc[train_slice]
    X_test, y_test = X.iloc[test_slice], y.iloc[test_slice]

    # Preprocesado
    encodings_sex = {"male" : 0, "female" : 1}
    encodings_embarked = {"S" : 0, "Q" : 1, "C" : 2}
    
    X_train["Sex"] = X_train["Sex"].map(encodings_sex)
    X_test["Sex"] = X_test["Sex"].map(encodings_sex)
    
    X_train["Embarked"] = X_train["Embarked"].map(encodings_embarked)
    X_test["Embarked"] = X_test["Embarked"].map(encodings_embarked)

    
    encodings_title = X_train["Title"].value_counts().to_dict()

    X_train["Title"] = X_train["Title"].map(encodings_title)
    X_test["Title"] = X_test["Title"].map(encodings_title)

    
    imputer = KNNImputer(n_neighbors=10)
    imputer.fit(X_train)
    
    X_train = imputer.transform(X_train)
    X_test = imputer.transform(X_test)

    
    # Modelo
    model = KNeighborsClassifier(n_neighbors=10)
    
    model.fit(X_train, y_train)
    yhat_ = model.predict(X_test)
    yhat.extend(yhat_)

print(f"Accuracy: {accuracy_score(y, yhat)}")
print(f"Confusion Matrix:\n{confusion_matrix(y, yhat)}")